@using Pills.Models.ViewModels.PillTypes
@model List<PillTypeHubViewModel>

<h1>Manage pills</h1>

<table class="table table-striped table-hover w-auto">
    <thead class="table-light">
        <tr>
            <th>Name</th>
            <th>Maximum daily dose</th>
            <th>Count of pills taken</th>
            <th>Action</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var pillType in Model)
        {
            <tr>
                <td>@pillType.Name</td>
                <td>@pillType.MaxAllowed</td>
                <td>@pillType.Count</td>
                <td>
                    @if(!pillType.IsDeleted)
                    {
                        <a asp-action="ConfirmDelete" asp-route-id="@pillType.Id" class="btn btn-danger btn-sm">
                            Delete
                        </a>
                    }
                    else
                    {
                        <a asp-action="ConfirmRestore" asp-route-id="@pillType.Id" class="btn btn-info btn-sm">
                            Restore
                        </a>
                    }
                    <a asp-action="Edit" asp-route-id="@pillType.Id" class="btn btn-primary btn-sm">
                        Edit
                    </a>
                </td>
            </tr>
        }
    </tbody>
</table>
