@using Pills.Models.ViewModels.PillsTaken
@model List<TodayPillViewModel>

<h1>Today - @String.Format("{0:dd/MM/yyyy}", DateTime.Today)</h1>

@foreach (var pill in Model)
{
    <div class="mb-2">
        <strong>@pill.Name</strong>

        @if (pill.Taken && !pill.MultipleAllowed)
        {
            <span style="color:green; margin-left:10px;">✔️ Taken</span>
        }
        else if(pill.MultipleAllowed)
        {
            if(pill.CanTake)
            {
                <form asp-controller="PillsTaken" asp-action="Take" method="post" style="display:inline;">
                    @Html.AntiForgeryToken()
                    <span>Today you took: @pill.TakenCountToday pills</span>
                    <input type="hidden" name="pillTypeId" value="@pill.PillTypeId" />
                    <button type="submit">Take next</button>
                </form>
            }
            else
            {
                <span style="color:green; margin-left:10px;">✔️ You have already taken the maximum dose of @pill.MaxAllowed pills</span>
            }
        }
        else
        {
            <form asp-controller="PillsTaken" asp-action="Take" method="post" style="display:inline;">
                @Html.AntiForgeryToken()
                <input type="hidden" name="pillTypeId" value="@pill.PillTypeId" />
                <button type="submit">Mark as taken</button>
            </form>
        }
    </div>
}

